.search-page {
  .search-zone {
    width: 100%;
    max-width: 500px;
  }
}

::ng-deep {
  .result {
    min-width: 80px;
  }

  .p-card-title {
    color: #3c70d8;
  }

  .p-card-content {
    min-height: 50vh;
  }
}
